allure-pytest==2.16.0
allure-python-commons==2.16.0
attr==0.3.2
attrs==26.1.0
cachebox==5.2.3
certifi==2026.6.17
charset-normalizer==3.4.7
deepdiff==9.1.0
idna==3.18
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
orderly-set==5.5.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.0
pytest-check==2.8.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
urllib3==2.7.0
